header h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #006400; /* Темно-зеленый цвет для заголовка */
}

pre {
    margin-left: 20px;
    margin-right: 20px;
    line-height: 1.6;
    background: #F8F8F8;
    padding: 10px;
    border-left: 5px solid #2E8B57;
    overflow-x: auto;
}

code {
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

    padding: 2px 5px;
    border-radius: 3px;
}

ul {
    margin-left: 20px;
    margin-right: 20px;
    line-height: 1.6; /* Улучшаем читаемость */
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea, button {
    width: 98%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #CCC;
    border-radius: 4px;
}

button {
    width: 101%;
    background-color: #32CD32;
    color: #FFF;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.result {
    margin-top: 15px;
    padding: 15px;
    border: 1px solid #ccc;

    white-space: pre-wrap;
    font-family: monospace;
}
.step {
    margin-bottom: 15px;
    padding: 10px;
    border-left: 4px solid #2ecc71;

}
code {

    padding: 2px 4px;
    border-radius: 4px;
}
.button-group {
    margin-top: 10px;
}