<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crypto Training App</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/history.css}"/>
</head>
<body>

<div th:replace="fragments/header :: siteHeader"></div>

<div class="container">
    <h1>Збережені результати практики</h1>
    <button class="btn-clear" onclick="clearResults()">Очистити все</button>
    <div id="results-container"></div>
</div>

<div id="customConfirm" style="display: none;" class="confirm-overlay">
    <div class="confirm-box">
        <p>Ви впевнені, що хочете видалити всі збережені результати?</p>
        <button id="confirmYes">Так</button>
        <button id="confirmNo">Ні</button>
    </div>
</div>

<script th:src="@{/js/header.js}"></script>
<script th:src="@{/js/updatemenu.js}"></script>
<script th:src="@{/js/history.js}"></script>
</body>
</html>