<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crypto Training App</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/practice-rsa.css}"/>
</head>
<body>

<div th:replace="fragments/header :: siteHeader"></div>

<div class="container">
    <h1>Практика RSA (Rivest-Shamir-Adleman)</h1>
    <p>Спробуйте згенерувати ключі, зашифрувати та розшифрувати текст за допомогою RSA.</p>

    <button id="generateKeysBtn">Згенерувати ключі RSA</button>

    <label for="publicKey">Відкритий ключ:</label>
    <textarea id="publicKey" rows="5" readonly></textarea>

    <label for="privateKey">Приватний ключ:</label>
    <textarea id="privateKey" rows="5" readonly></textarea>

    <label for="textInput">Введіть текст:</label>
    <textarea id="textInput" rows="3" placeholder="Введіть текст для шифрування або розшифрування"></textarea>

    <button id="encryptBtn">Зашифрувати</button>
    <button id="decryptBtn">Розшифрувати</button>

    <h3>Результат:</h3>
    <div id="result" class="result">Тут буде показано результат</div>
</div>
<script th:src="@{/js/header-practice.js}"></script>
<script th:src="@{/js/updatemenu.js}"></script>
<script th:src="@{/js/practice-rsa.js}"></script>
<script th:src="@{/js/saveResult.js}"></script>
</body>
</html>
