<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Crypto Training App</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}"/>
  <link rel="stylesheet" th:href="@{/css/header.css}"/>
  <link rel="stylesheet" th:href="@{/css/practice-md5.css}"/>
</head>
<body>

<div th:replace="fragments/header :: siteHeader"></div>

<div class="container">
  <h1>Практика: MD5 Хешування</h1>
  <p>Введіть повідомлення, щоб згенерувати MD5-хеш і отримати пояснення.</p>

  <textarea id="md5Input" rows="3" placeholder="Введіть текст..."></textarea>
  <button id="hashBtn">Хешувати</button>

  <h3>Результат:</h3>
  <div id="md5Result" class="result">Тут буде показано результат</div>
</div>


<script th:src="@{/js/header-practice.js}"></script>
<script th:src="@{/js/updatemenu.js}"></script>
<script th:src="@{/js/practice-md5.js}"></script>
<script th:src="@{/js/saveResult.js}"></script>
</body>
</html>
