<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crypto Training App</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/practice-tripledes.css}"/>
</head>
<body>
<div th:replace="fragments/header :: siteHeader"></div>

<div class="container">
    <h1>Практика: Triple DES (3DES)</h1>
    <p>Введіть текст і ключ для шифрування або розшифрування за допомогою алгоритму Triple DES.</p>

    <label for="text">Текст:</label>
    <textarea id="text" rows="3" placeholder="Введіть текст..."></textarea>

    <label for="key">Ключ (24 символи):</label>
    <input type="text" id="key" maxlength="24" placeholder="Наприклад: 1234567890ABCDEF12345678" />

    <div class="button-group">
        <button id="encryptBtn">Зашифрувати</button>
        <button id="decryptBtn">Розшифрувати</button>
    </div>

    <h3>Результат:</h3>
    <div id="result" class="result">Тут буде показано результат</div>
</div>


<script th:src="@{/js/header-practice.js}"></script>
<script th:src="@{/js/updatemenu.js}"></script>
<script th:src="@{/js/practice-tripledes.js}"></script>
<script th:src="@{/js/saveResult.js}"></script>
</body>
</html>
