<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crypto Training App</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/practice.css}"/>
</head>
<body>

<div th:replace="fragments/header :: siteHeader"></div>

<!-- Секція теорії (категорії) -->
<div class="theory-wrapper">
    <div class="theory-category">
        <h2>Класичні</h2>
        <div class="theory-buttons">
            <button class="theory-button" onclick="location.href='/theory-caesar'">Шифр Цезаря</button>
            <button class="theory-button" onclick="location.href='/theory-vigenere'">Віженера</button>
            <button class="theory-button" onclick="location.href='/theory-columnar'">Перестановка</button>
        </div>
    </div>
    <div class="theory-category">
        <h2>Симетричні</h2>
        <div class="theory-buttons">
            <button class="theory-button" onclick="location.href='/theory-aes'">AES</button>
            <button class="theory-button" onclick="location.href='/theory-tripledes'">Triple DES</button>
        </div>
    </div>
    <div class="theory-category">
        <h2>Асиметричні</h2>
        <div class="theory-buttons">
            <button class="theory-button" onclick="location.href='/theory-rsa'">RSA</button>
            <button class="theory-button" onclick="location.href='/theory-ecdsa'">ECDSA</button>
        </div>
    </div>
    <div class="theory-category">
        <h2>Хешування</h2>
        <div class="theory-buttons">
            <button class="theory-button" onclick="location.href='/theory-md5'">MD5</button>
            <button class="theory-button" onclick="location.href='/theory-sha256'">SHA-256</button>
        </div>
    </div>
</div>

<script th:src="@{/js/header.js}"></script>
<script th:src="@{/js/updatemenu.js}"></script>
</body>
</html>
